.fixed-section{
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
  padding-left: 30px;
  border-right: 1px solid rgba(0,0,0,.1);
  padding-right: 30px;
  padding-bottom: .25rem;
}
.doc-section{
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
}
