<div class="wrapper profile-page">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
             style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <app-profile-image [user]="displayUser" [smallImg]="false"></app-profile-image>
                </div>
                <h3 class="title">{{displayUser?.firstName}} {{displayUser?.lastName}}</h3>
                <p class="category">{{displayUser?.roles}}</p>
                <div>
                    <!--                <div class="content">-->
                    <!--                    <div class="social-description">-->
                    <!--                        <h2>26</h2>-->
                    <!--                        <p>Comments</p>-->
                    <!--                    </div>-->
                    <!--                    <div class="social-description">-->
                    <!--                        <h2>26</h2>-->
                    <!--                        <p>Comments</p>-->
                    <!--                    </div>-->
                    <!--                    <div class="social-description">-->
                    <!--                        <h2>48</h2>-->
                    <!--                        <p>Bookmarks</p>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <!--                <a (click)="comingSoon()" class="btn btn-primary btn-round btn-lg">Follow</a>-->

                <a *ngIf="displayUser?.twitter!=null" href="{{displayUser?.twitter}}" target="_blank"
                   class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                   title="Follow me on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>

                <a *ngIf="displayUser?.instagram!=null" href="{{displayUser?.instagram}}" target="_blank"
                   class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                   title="Follow me on Instagram">
                    <i class="fab fa-instagram"></i>
                </a>

                <a *ngIf="displayUser?.facebook!=null" href="{{displayUser?.facebook}}" target="_blank"
                   class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                   title="Follow me on Instagram">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a *ngIf="displayUser?.publicMail!=null" href="MAILTO:{{displayUser?.publicMail}}" target="_blank"
                   class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                   title="Send me an E-Mail">
                    <i class="my-fab fa-regular fa-envelope"></i>
                </a>

                <a *ngIf="displayUser?.phone!=null" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                   (click)="open(modal_phone_number, 'modal_mini', 'sm')"
                   title="Call me">
                    <i class="my-fab fa-solid fa-phone"></i>
                </a>
                <ng-template #modal_phone_number let-c="close" let-d="dismiss">
                    <div class="modal-header justify-content-center">
                        <div class="modal-profile">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>Call my under: </p>
                        <p>{{displayUser?.phone}}</p>
                    </div>
                    <div class="modal-footer">
                        <!--                        <button type="button" class="btn btn-link btn-neutral">Back</button>-->
                        <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>

                <button *ngIf="isYourself()" [routerLink]="['/profile-settings']"
                        class="btn btn-primary btn-round btn-lg" type="button">
                    <i class="fa-regular fa-pen-to-square"></i> Edit
                </button>
            </div>
            <div class="row">
                <div class="card text-center" *ngIf="isYourself() && !user?.isConfirmed">
                    <h3 class="title badge-danger">Confirm your mail!</h3>
                    <h4 class="description">Please confirm your mail before you continue.<br>The mail was send
                        to: {{user?.mail}}</h4>
                    <h4 class="description"><a i18n (click)="resendConfirmCode()" class="btn btn-round btn-primary">Send
                        code
                        again</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="card text-center" *ngIf="isYourself() && user?.isRoleUnknown">
                    <h3 class="title badge-danger">Select who your are!</h3>
                    <h4 class="description">
                        Please select where your are living here as a resident with a direct contract from
                        "Vereinigung Stuttgarter Studentenwohnheime e.V.", or as a roomer who want's to live here for
                    </h4>
                    <div class="row">
                        <div class="col-md-4 ml-auto text-center">
                            <h4 class="description">
                                <a i18n (click)="selectRole(UserRoleType.resident)" class="btn btn-round btn-primary">
                                    I'm a Resident of the Wiederhold</a>
                            </h4>
                        </div>
                        <div class="col-md-4 mr-auto text-center">
                            <h4 class="description">
                                <a i18n (click)="selectRole(UserRoleType.roomer)" class="btn btn-round btn-primary">
                                    I want to live in the Wiederhold as Roomer</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="title">About me</h3>
                <h4 *ngIf="displayUser?.getDescription==''" class="description">No description yet</h4>
                <h5 class="description">
                    {{displayUser?.getDescription}}
                </h5>
            </div>
            <h3 class="title">My Timeline</h3>
            <h4 *ngIf="displayUser?.timeSpans?.length==0" class="description">No timeline yet</h4>
            <div class="timeline">
                <div *ngFor="let t of displayUser?.getMilestones(); index as i">
                    <div class="timeline-container " [ngClass]="{'timeline-left':i%2==0,'timeline-right':i%2!=0}">
                        <div class="timeline-content">
                            <h4>{{t.title}}</h4>
                            <h6>{{formatDateForTimeline(t.date)}}</h6>
                            <p>{{t.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="displayUser?.timeSpans?.length>0 && isYourself()">
                <div class="timeline-add mr-auto ml-auto">
                    <button class="btn btn-primary btn-icon btn-round" type="button"
                            (click)="open(addTimelineModal,'' , '')">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="displayUser?.timeSpans?.length==0 && isYourself()">
                <div class="timeline-add mr-auto ml-auto">
                    <button class="btn btn-primary btn-round" type="button"
                            (click)="open(addTimelineModal,'' , '')">
                        <i class="fa-solid fa-plus"></i> New Milestone
                    </button>
                </div>
            </div>
            <ng-template #addTimelineModal let-c="close" let-d="dismiss">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" (click)="d('Cross click')">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up">Add a new Milestone</h4>
                </div>
                <div class="modal-body">
                    <p>You can add some Information about you here</p>
                    <div class="mb-4">
                        <h6 class="ml-2">Title</h6>
                        <input type="text" class="form-control" placeholder="..."
                               (focus)="focus.modalTitle"
                               (blur)="focus.modalTitle" [(ngModel)]="inputValues.modalTitle"
                               name="instagram">
                    </div>
                    <div class="mb-4">
                        <h6 class="ml-2">Description</h6>
                        <input type="text" class="form-control" placeholder="..."
                               (focus)="focus.modalDescription"
                               (blur)="focus.modalDescription" [(ngModel)]="inputValues.modalDescription"
                               name="instagram">
                    </div>
                    <div>
                        <h6 class="ml-2">Date</h6>
                        <div class="datepicker-container">
                            <div class="form-group">
                                <input class="form-control datetimepicker" placeholder="06/07/2017"
                                       name="dp" [(ngModel)]="model" ngbDatepicker #dp="ngbDatepicker"
                                       (click)="dp.toggle()" data-color="orange">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
                    <button type="button" class="btn btn-success" (click)="addTimeline(c)">Add</button>
                </div>
            </ng-template>
            <!-- do not display-->
            <div class="row" style="display: none">
                <!--                <div class="col-md-12">-->
                <!--                    <h4 class="title text-center">My Portfolio</h4>-->
                <!--                    <ngb-tabset [justify]="'center'" type="pills"-->
                <!--                                class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">-->
                <!--                        <ngb-tab>-->
                <!--                            <ng-template ngbTabTitle>-->
                <!--                                <i class="now-ui-icons design_image"></i>-->
                <!--                            </ng-template>-->
                <!--                            <ng-template ngbTabContent>-->
                <!--                                <div class="row">-->
                <!--                                    <div class="col-md-10 ml-auto mr-auto">-->
                <!--                                        <div class="row collections">-->
                <!--                                            <div class="col-md-6">-->
                <!--                                                <img src="assets/img/bg1.jpg" alt="" class="img-raised">-->
                <!--                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">-->
                <!--                                            </div>-->
                <!--                                            <div class="col-md-6">-->
                <!--                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">-->
                <!--                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </ng-template>-->
                <!--                        </ngb-tab>-->
                <!--                        <ngb-tab>-->
                <!--                            <ng-template ngbTabTitle>-->
                <!--                                <i class="now-ui-icons location_world"></i>-->
                <!--                            </ng-template>-->
                <!--                            <ng-template ngbTabContent>-->
                <!--                                <div class="row">-->
                <!--                                    <div class="col-md-10 ml-auto mr-auto">-->
                <!--                                        <div class="row collections">-->
                <!--                                            <div class="col-md-6">-->
                <!--                                                <img src="assets/img/bg6.jpg" class="img-raised">-->
                <!--                                                <img src="assets/img/bg11.jpg" alt="" class="img-raised">-->
                <!--                                            </div>-->
                <!--                                            <div class="col-md-6">-->
                <!--                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">-->
                <!--                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </ng-template>-->
                <!--                        </ngb-tab>-->
                <!--                        <ngb-tab>-->
                <!--                            <ng-template ngbTabTitle>-->
                <!--                                <i class="now-ui-icons sport_user-run"></i>-->
                <!--                            </ng-template>-->
                <!--                            <ng-template ngbTabContent>-->
                <!--                                <div class="row">-->
                <!--                                    <div class="col-md-10 ml-auto mr-auto">-->
                <!--                                        <div class="row collections">-->
                <!--                                            <div class="col-md-6">-->
                <!--                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">-->
                <!--                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">-->
                <!--                                            </div>-->
                <!--                                            <div class="col-md-6">-->
                <!--                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">-->
                <!--                                                <img src="assets/img/bg6.jpg" class="img-raised">-->
                <!--                                            </div>-->
                <!--                                        </div>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                            </ng-template>-->
                <!--                        </ngb-tab>-->
                <!--                    </ngb-tabset>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
