<div class="section section-basic">
    <div class="container">
      <h3 class="title">Basic Elements</h3>
      <div id="buttons">
          <h4>Buttons</h4>
          <p class="category">Pick your style</p>
          <div class="row">
              <div class="col-md-10">
                  <button class="btn btn-primary" type="button">Default</button>
                  <button class="btn btn-primary btn-round" type="button">Round</button>
                  <button class="btn btn-primary btn-round" type="button">
                      <i class="now-ui-icons ui-2_favourite-28"></i> With Icon
                  </button>
                  <button class="btn btn-primary btn-icon btn-round" type="button">
                      <i class="now-ui-icons ui-2_favourite-28"></i>
                  </button>
                  <button class="btn btn-primary btn-simple btn-round" type="button">Simple</button>
              </div>
          </div>
          <p class="category">Pick your size</p>
          <div class="row">
              <div class="col-md-10">
                  <button class="btn btn-primary btn-sm">Small</button>
                  <button class="btn btn-primary">Regular</button>
                  <button class="btn btn-primary btn-lg">Large</button>
              </div>
          </div>
          <p class="category">Pick your color</p>
          <div class="row">
              <div class="col-md-10">
                  <button class="btn">Default</button>
                  <button class="btn btn-primary">Primary</button>
                  <button class="btn btn-info">Info</button>
                  <button class="btn btn-success">Success</button>
                  <button class="btn btn-warning">Warning</button>
                  <button class="btn btn-danger">Danger</button>
                  <button class="btn btn-neutral">Neutral</button>
              </div>
          </div>
          <h4>Links</h4>
          <div class="row">
              <div class="col-md-8">
                  <button class="btn btn-link">Default</button>
                  <button class="btn btn-link btn-primary ">Primary</button>
                  <button class="btn btn-link btn-info">Info</button>
                  <button class="btn btn-link btn-success">Success</button>
                  <button class="btn btn-link btn-warning">Warning</button>
                  <button class="btn btn-link btn-danger">Danger</button>
              </div>
          </div>
      </div>
      <div id="inputs">
          <h4>Inputs</h4>
          <p class="category">Form Controls</p>
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="form-group">
                      <input type="text" value="" placeholder="Regular" class="form-control" />
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="form-group has-success">
                      <input type="text" value="Success" class="form-control form-control-success" />
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="form-group has-danger">
                      <input type="email" value="Error Input" class="form-control form-control-danger" />
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="fa fa-user-circle"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                      <input type="text" class="form-control" placeholder="Right Nucleo Icon" (focus)="focus1=true" (blur)="focus1=false">
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="now-ui-icons users_single-02"></i>
                        </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" id="checkRadios">
        <div class="col-sm-6 col-lg-3">
            <p class="category">Checkboxes</p>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                    Unchecked
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    Checked
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    <span class="form-check-sign"></span>
                    Disabled Unchecked
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked disabled>
                    <span class="form-check-sign"></span>
                    Disabled Checked
                </label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <p class="category">Radios</p>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                    <span class="form-check-sign"></span>
                    Radio is off
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" checked>
                    <span class="form-check-sign"></span>
                    Radio is on
                </label>
            </div>
            <div class="form-check form-check-radio disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option3" disabled>
                    <span class="form-check-sign"></span>
                    Disabled radio is off
                </label>
            </div>
            <div class="form-check form-check-radio disabled">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option4" disabled checked>
                    <span class="form-check-sign"></span>
                    Disabled radio is on
                </label>
            </div>
        </div>
          <div class="col-sm-6 col-lg-3">
              <p class="category">Toggle Buttons</p>
              <bSwitch
                  [(ngModel)]="state">
              </bSwitch>
              <bSwitch> Toggle is off
              </bSwitch>
          </div>
          <div class="col-sm-6 col-lg-3">
              <p class="category">Sliders</p>
              <nouislider class="slider" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" [tooltips]="true"></nouislider>
              <br>
              <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider>
          </div>
      </div>
    </div>
</div>
