<div class="wrapper">
  <div class="txt-gray">
      <div class="section section-signup" style="background-image: url('assets/img/bg10.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container login-page">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    <div class="content-center brand">
                        <img class="n-logo" src="assets/img/now-logo.png" alt="">
                        <h1 class="h1-seo">E Amanhã?</h1>
                        <h3>Acompanhe a evolução do COVID 19.</h3>
                    </div>
                  <div class="card card-login card-plain">
                      <form class="form" method="" action="">

                          <div class="content">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons ui-1_calendar-60"></i></span>
                              </div>
                                <input type="text" class="form-control" id="qtdDias" placeholder="Quantidade de dias..." (change)="qtdDias = $event.target.value"  (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            
                            <a class="btn btn-primary btn-round btn-lg btn-block" (click)="calcula()" >CALCULAR</a>
                          </div>                   
                      </form>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}} Feito por
              <a href="https://www.linkedin.com/in/cceciliavaz/" target="_blank">Ana Cecília Vaz</a>.
          </div>
      </div>
  </footer>
</div>
