<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                           <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Vamos nos conectar" data-placement="bottom" href="https://www.linkedin.com/company/d3-/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    <p class="d-lg-none d-xl-none">Linkedin</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
