<div class="login-page">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="assets/img/now-logo.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg"
                                 [ngClass]="{'input-group-focus':focus.focusFirst===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="First Name..."
                                       (focus)="focus.focusFirst=true"
                                       (blur)="focus.focusFirst=false" [(ngModel)]="inputValues.firstName" name="first">
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                 [ngClass]="{'input-group-focus':focus.focusLast===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                </div>
                                <input type="text" placeholder="Last Name..." class="form-control"
                                       (focus)="focus.focusLast=true"
                                       (blur)="focus.focusLast=false" [(ngModel)]="inputValues.lastName" name="last"/>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                 [ngClass]="{'input-group-focus':focus.focusMail===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                                </div>
                                <input type="text" placeholder="Mail..." class="form-control"
                                       (focus)="focus.focusMail=true"
                                       (blur)="focus.focusMail=false" [(ngModel)]="inputValues.mail" name="mail"/>
                            </div>
                            <div class="input-group form-group-no-border input-lg"
                                 [ngClass]="{'input-group-focus':focus.focusPassword===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons objects_key-25"></i></span>
                                </div>
                                <input type="password" placeholder="Password..." class="form-control"
                                       (focus)="focus.focusPassword=true"
                                       (blur)="focus.focusPassword=false" [(ngModel)]="inputValues.password" name="password"/>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <a (click)="register()" class="btn btn-primary btn-round btn-lg btn-block">Register</a>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a [routerLink]="['/login']" class="link">Already have an Account?</a>
                            </h6>
                            <h6>
                                <a [routerLink]="['/reset-password']" class="link">Forgot Password?</a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a (click)="comingSoon()" class="link">Need Help?</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <app-footer [noDefault]="true"></app-footer>
    </div>
</div>
