<div class="wrapper landing-page">
    <div class="page-header page-header-medium">
        <div class="page-header-image" data-rellax-speed="-8"
             style="background-image: url('assets/img/Wiederholdstrasse-4-1030x687.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Wohnheim Wiederholdstraße</h1>
                <div class="text-center">
                    <a (click)="comingSoon()" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a (click)="comingSoon()" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a (click)="comingSoon()" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="card text-center" *ngIf="user!=null && !user?.isConfirmed">
                <h3 class="title badge-danger">Confirm your mail!</h3>
                <h4 class="description">Please confirm your mail before you continue.<br>The mail was send to: {{user?.mail}}</h4>
                <h4 class="description"><a (click)="resendConfirmCode()" class="btn btn-round btn-primary">Send code
                    again</a></h4>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                        amet.
                    </h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                             style="background-image: url('assets/img/Wiederholdstrasse-1-1030x687.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                "Lorem ipsum dolor sit amet, consetetur sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam"
                                <br>
                                <br>
                                <small>-NOAA</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container"
                             style="background-image: url('assets/img/Wiederholdstrasse-2-1030x687.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                             style="background-image: url('assets/img/Wiederholdstrasse-3-1030x687.jpg')"></div>
                        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                            amet.
                        </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                            blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem
                            ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                            vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                            eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                            duis dolore te feugait nulla facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Interest aroused?</h2>
            <p class="description">We will do our best to help you!</p>
            <div class="row ">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div style="margin-top: -40px">
                        <a [routerLink]="['/find-a-room']" class="btn btn-primary btn-round btn-block btn-lg">Find a
                            Room</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="row">
                <div *ngFor="let u of publicUsers" class="col-md-4 team">
                    <div class="team-player">
                        <div [routerLink]="['/profile',u.userId]" style="cursor: pointer">
                            <app-profile-image [user]="u" [size]="'96px'"></app-profile-image>
                            <h4 class="title">{{u.firstName}} {{u.lastName}}</h4>
                            <p class="category text-primary">
                                {{u.roles}}
                            </p>
                        </div>
                        <p class="description">{{u.getDescription}}</p>

                        <a *ngIf="u.twitter!=null" href="{{u.twitter}}"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="my-fab fa-brands fa-twitter"></i>
                        </a>
                        <a *ngIf="u.instagram!=null" href="{{u.instagram}}"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="my-fab fa-brands fa-instagram"></i>
                        </a>
                        <a *ngIf="u.facebook!=null" href="{{u.facebook}}"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="my-fab fa-brands fa-facebook-square"></i>
                        </a>
                        <a *ngIf="u.publicMail!=null" href="MAILTO:{{u.publicMail}}"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <!--                                <i class="fab fa-mail-square"></i>-->
                            <i class="my-fab fa-regular fa-envelope"></i>
                        </a>
                        <a *ngIf="u.phone!=null" (click)="showPhone(u)"
                           class="btn btn-primary btn-icon btn-round" target="_blank">
                            <i class="my-fab fa-solid fa-phone"></i>
                        </a>
                    </div>
                    <div class="separator separator-primary"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Any Questions left?</h2>
            <p class="description">We will do our best to help you!</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                        </div>
                        <input type="text" class="form-control" placeholder="First and Last Name..."
                               (focus)="focus=true" (blur)="focus=false" [(ngModel)]="name">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Mail..."
                               (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="mail" email>
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                                  placeholder="Type a message..." [(ngModel)]="description"></textarea>
                    </div>
                    <div class="send-button">
                        <a (click)="askAQuestion()" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
