<div class="modal-header">
  <h4 class="modal-title">ATENÇÃO!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Pela data de referência de {{dados[0].dataIBG}}, de acordo com o Instituto Brasileiro de Geografia e Estatística (IBGE),
     o Brasil tem uma população total de <b>{{dados[0].populacaoBrasileira  | number:'4.1-2'}}</b> pessoas. 
     Se não fossem as medidas preventivas, o pior caso seria o dia {{dados[0].data}} <i>(daqui {{dados[0].quantidadeDeDias}} dias)</i>, pois ultrapassariamos a quantidade máxima de casos de COVID.
 
    </p>
    <small><a href="https://www.ibge.gov.br/apps/populacao/projecao/index.html">Dados do IBGE</a></small>
   <h4 class="bold">PREVINA-SE</h4>

    <ul class="list-group">
      <li class="list-group-item">Use máscara.</li>
      <li class="list-group-item">Evite o contato.</li>
      <li class="list-group-item">Higienize suas mãos.</li>
      <li class="list-group-item">Ao sair de casa, evite tocar nos olhos, boca e nariz</li>
    </ul>
 
</div>
<div class="modal-footer">
  <button type="button" class="btn btn btn-primary " (click)="activeModal.close('Close click')">Estou ciente!</button>
</div>