<div class="wrapper landing-page">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
             style="background-image: url('assets/img/Wiederholdstrasse-4-1030x687.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title" i18n>Empty Page</h1>
                <div class="text-center">
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title" i18n>Empty?</h2>
                    <h5 class="description" i18n>This is a demo Page</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
