/* The actual timeline (the vertical ruler) */

$content-bg-color:$light-gray;

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;


  /* The actual timeline (the vertical ruler) */
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $primary-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  &-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    /* The circles on the timeline */
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -13px;
      background-color: $primary-color;
      border: 4px solid $accent-color;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

  }

  /* Place the container to the left */
  &-left {
    left: 0;
    /* Add arrows to the left container (pointing right) */
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid $content-bg-color;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $content-bg-color;
    }
  }

  /* Place the container to the right */
  &-right {
    left: 50%;


    /* Add arrows to the right container (pointing left) */
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid $content-bg-color;
      border-width: 10px 10px 10px 0;
      border-color: transparent $content-bg-color transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    &::after {
      left: -12px;
    }
  }

  /* The actual content */
  &-content {
    padding: 20px 30px;
    background-color: $content-bg-color;
    position: relative;
    border-radius: 6px;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline {
    /* Place the timelime to the left */
    &::after {
      left: 31px;
    }

    /* Full-width containers */
    &-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;

      /* Make sure that all arrows are pointing leftwards */
      &::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    }

    /* Make sure all circles are at the same spot */
    &-left::after, &-right::after {
      left: 15px;
    }

    /* Make all right containers behave like the left ones */
    &-right {
      left: 0%;
    }
  }
}
