<footer class="footer " [ngClass]="{'footer-default' : !noDefault}">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul>
                    <li>
                        <a href="https://beerpongleague.eu/home" target="_blank">
                            Beer Pong League
                        </a>
                    </li>
                    <li>
                        <a href="https://suffapp.de" target="_blank">
                            Suff App
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed and Coded by
                    <a href="https://www.jan-schuettken.de" target="_blank">Jan&nbsp;Schüttken</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
